<div class="home-welcome-section">
    <mat-card class="home-welcome-card">
        <mat-card-content>
            <h1>Hello, Welcome to Autism Connect</h1>

            <!-- <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>What are you looking for today?</mat-label>
                  <input matInput placeholder="Ex. looking to connect with families" value="">
                </mat-form-field>
              </form> -->
            <h3>What are you looking for?</h3>
            <input type="text"
                class="user-input">

        </mat-card-content>
    </mat-card>
</div>


