<div class="frame">
  <div class="header">
    <mat-icon>groups</mat-icon>
    <span class="app-header-text">
        Friendly Neighborhood
    </span>
  </div>

  <div class="chat-layout">
    <div class="chat-panel">
      @for (item of responses; track item.content; let i = $index) {
          <div class="chat-row">
              <p [ngClass]="{ 'user': item.sender === 'user',
              'service': item.sender === 'service',
              'current-question': item.sender === 'service' && (i === responses.length-1)  }">
              {{item.content}}    
          </p>
          </div>
      }
    </div>

    <!-- intro layout -->
    <div *ngIf="responses.length === 0">
      <p>{{helpTip}}</p>
      <h1>{{question}}</h1>
    </div> 
  </div>

  <div class="chat-user-input-panel">
    <mat-progress-bar *ngIf="isLoadingResponse" 
      mode="indeterminate"></mat-progress-bar>

    <div class="user-input-panel">
      <input 
        class="user-input"
        matInput 
        [placeholder]="inputPlaceholder" 
        [(ngModel)]="userInput">
        <button mat-icon-button 
                (click)="sendResponse()">
          <mat-icon>send</mat-icon>
        </button>
    </div> 
  </div>
</div>


