:host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

.header {
    display: inline-flex;
    align-items: center;

    mat-icon {
      padding-left: 10px;
      background: -webkit-linear-gradient(#eee, var(--french-violet));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 30px;
    }

    .app-header-text {
      font-size: 2rem;
      padding: 20px;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.125rem;
      margin: 0;
      font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
      background: -webkit-linear-gradient(#eee, var(--french-violet));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

.frame {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;


    .header {
        height: 70px;
        // background-color: aqua;
    }

    .chat-layout {
        padding: 10px;
        height: calc(100vh - 140px);
        //background-color: grey;
        overflow-y: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .chat-user-input-panel {
        padding: 10px;
        height: 70px;
        // background-color: aqua;
    }
}